<h1>People App</h1>
<div>

  <%= link_to  "Create a New Person", new_person_path %>
  <hr />
  <% @people.each do |person| %>
  <h3> <%= person.full_name %></h3>
  <%= link_to  "Show this person", person_path(person.id) %>&nbsp&nbsp&nbsp
  <%= link_to  "Edit this person", edit_person_path(person.id) %>&nbsp&nbsp&nbsp
  <%= link_to  "Delete this person", person, method: :delete %>
   <hr /> 
  <% end %>
    </div>

